#menu-appbar-notiv .MuiPaper-root.MuiPaper-elevation8{
    left: unset !important;
    right: 16px !important;
}
#menu-appbar .MuiMenu-paper{
  left: unset !important;
  right: 16px !important;
}
table tbody.MuiTableBody-root tr.selected{
  background-color: #d9c9c9;
}